@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    /* Global settings */
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    overflow-x: hidden;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #fff;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-high-contrast-adjust: none;
}

@media (forced-colors: active) {
    /* Your styles for Forced Colors Mode */
}

